# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
# dag-factory>=0.23.0a7  # (optional) For dynamic DAG generation from YAML configs
apache-airflow-providers-standard
apache-airflow-providers-postgres
apache-airflow-providers-mysql
astronomer-cosmos
faker
pandas
sqlalchemy
psycopg2-binary
requests
